.header-section{
    height: 65px;
    background-color: white;
    width: 100%;
    padding: 12px 30px;
    /* position: fixed; */
    position:sticky;
    top:0px;
    z-index: 20;

}
.sidebar-toggle{
    border: none;
    background-color: transparent;
    font-size: 30px;
}

.user-button{
border: none;
border-radius: 50%;
width: 40px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;

}
.brithness-icon{
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brithness-icon:hover {
    transform: rotateZ(360deg);
    transition: all 1s ease;
}


.dark-icon{
    transform: rotateZ(135deg);
}

.icon-search{
    position: absolute;
    top:10px;
    left: 14px;

}
.navbar-search{
    position: relative;

}

.header-search::placeholder{
    /* padding-left: 24px; */
}
.header-search{
    padding-left: 39px;
}