.side-links{
    border-radius: 10px;
    padding: 6px 10px;
}
/* .sidebar-nav-bars a:hover{
  color: blue !important;
} */
.sidebar-header{
    border-bottom: 2px solid #f5f6fa;
}

.isActive span{
    display: none;
}
.isActive{
    width: 80px !important;
    transition: all 0.2s ease;
}
.sidebar{
    width: 262px;
    transition: all 0.2s ease;
    border-right:2px solid #f5f6fa;

}







.sidebar-nav-bars {
    overflow-y: auto;
    height: 95vh;

    scrollbar-width: thin; 
    scrollbar-color: none; 

   padding-bottom: 70px !important;
}

.sidebar-nav-bars::-webkit-scrollbar {
    width: 8px; 
}


.sidebar-logo-1{
    position: sticky;
    top: 0px;
    background: white;
    z-index: 33;

}




.sidebar-nav-bars li a:hover{
    color: rgba(0, 0, 0, 0.566) !important; 

}

@media(max-width:600px){
.isActive{
    display: block;
}
}