.side-links{
    border-radius: 10px;
    padding: 6px 10px;
}

.sidebar-header{
    border-right:2px solid #f5f6fa;
    border-bottom: 2px solid #f5f6fa;
}

.isActive span{
    display: none;
}
.isActive{
    width: 80px !important;
    transition: all 0.2s ease;
}
.sidebar{
    width: 220px;
    transition: all 0.2s ease;
}







.sidebar-nav-bars {
    overflow-y: auto;
    height: 98vh;

    scrollbar-width: thin; 
    scrollbar-color: none; 
}

.sidebar-nav-bars::-webkit-scrollbar {
    width: 8px; 
}





